<include file="Public/header"/>
		<div class="content">
			<div class="container">
				<div class="fl left">
					<div id="book_detail_l" class="left-content book-detail">
						<div class="col-main">
							<ul class="author-item">
								<li>
									<div class="cont">
										<div class="name-desc">
											<a href="#" class="author-name" style="display: block;color: #0F0F0F; cursor: text;text-align: center;"><b>{$article_data.title}</b></a>
											<div class="author-desc xd_art-content">
												{$article_data.content|htmlspecialchars_decode}
											</div>
											<br>
											<div class="book_mulu"><notempty name="pre_href"><a href="{$pre_href}">上一篇</a></notempty><a href="{$mulu_href}">目录</a><notempty name="next_href"><a href="{$next_href}">下一篇</a></notempty></div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public/footer"/>